/* Normal desktop :1200px. */
@media (min-width: 1500px) and (max-width: 1800px) {
.banner__rightbox {
	display: none;
}

}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.banner__rightbox {
	display: none;
}
.appoinment .appoinment-title {
	font-size: 27px;
	line-height: 36px;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.theme-author {
	justify-content: center;
	text-align: center;
}
.author__text {
	padding-left: 0;
	flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	max-width: 100%;
	margin-top: 25px;
}
.author-icon {
	margin-top: 6px;
	margin-bottom: 0;
}
.banner__rightbox {
	display: none;
}
.bannertext .heading {
	font-size: 60px;
}
.section__heading--title {
	font-size: 40px;
	line-height: 52px;
}
.about__bg {
	transform: inherit;
}
.about__bg img {
	width: 100%;
}
.ab-wrapper{
	padding: 0 50px;
	padding-top:50px;
}
.about__wrap::before {
	background: #F8F8F8;
	width: 100%;
}
.about__wrap.pt-95.pb-95 {
	padding-top: 0;
}
.service__box--2 .title {
	font-size: 22px;
}
.portfolio-quote p {
	padding: 0 60px;
}
.video__bg.pr-50 {
	padding-right: 0;
}
.contact__info .content .title {
	font-size: 23px;
}
.contact__info {
	padding: 70px 11px;
}
.header__logo {
	padding: 15px 0;
}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.banner__rightbox {
	display: none;
}
.section__heading--title br{
	display: none
}
.section__heading--title {
	font-size: 40px;
}
.bannertext p br{
	display: none;
}
.about__bg--4 img:nth-child(2) {
	display: none;
}
.mt-md-none{
	margin-top: 0;
}
.about__bg img {
	width: 100%;
}
.header__logo {
	padding: 0;
}


}

/* small mobile :320px. */
@media (max-width: 767px) {
.header__logo {
  padding: 0;
}
.banner__rightbox {
	display: none;
}
.about__bg img {
	width: 100%;
}
.latest-comments ul li ul.children {
	padding-left: 0;
}
.comment-reply-link {
	position: static;
}
.latest-comments {
	padding: 40px;
}
.postbox_text {
	padding: 40px;
	padding-top: 35px;
}
.comments-avatar img {
	width: 80px;
	margin-right: 15px;
}
.bannertext p br{
	display: none;
}
.section__heading--title br{
	display: none
}
.breadcrumb-title {
	font-size: 42px;
	letter-spacing: -1px;
}
.brand__area.grey-bg.pb-100 {
	padding-bottom: 44px;
}
.skill-wrap--2 {
	padding-bottom: 55px;
}



}
